In [1]:
import pandas as pd 
import matplotlib as plt
import csv
import json
import numpy as np

In [2]:
whitewine = pd.read_csv("data/winequality-white.csv")
whitewine

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1     6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2     8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
...                                                 ...
4893  6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...
4894  6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...
4895  6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....
4896  5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...
4897  6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...

[4898 rows x 1 columns]

In [3]:
# whitewine['fixed acidity'] = whitewine.filter(regex=("fixed acidity.*"))
# whitewine['fixed acidity']

In [4]:
testdf = pd.DataFrame(np.vstack([whitewine.columns, whitewine]))
testdf

                                                      0
0     fixed acidity;"volatile acidity";"citric acid"...
1      7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
2     6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
3     8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
4     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
...                                                 ...
4894  6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...
4895  6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...
4896  6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....
4897  5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...
4898  6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...

[4899 rows x 1 columns]

In [5]:
testdf['fixed acidity'] = testdf[0].str.split(';').str[0]

In [6]:
testdf

                                                      0  fixed acidity
0     fixed acidity;"volatile acidity";"citric acid"...  fixed acidity
1      7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6              7
2     6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...            6.3
3     8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...            8.1
4     7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...            7.2
...                                                 ...            ...
4894  6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...            6.2
4895  6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...            6.6
4896  6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....            6.5
4897  5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...            5.5
4898  6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...              6

[4899 rows x 2 columns]

In [7]:
testdf['volatile acidity'] = testdf[0].str.split(';').str[1]

In [8]:
testdf

,0,fixed acidity,volatile acidity
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23
...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21

In [9]:
testdf['citric acidity'] = testdf[0].str.split(';').str[2]

In [10]:
testdf

,0,fixed acidity,volatile acidity,citric acidity
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32
...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38

In [11]:
testdf['residual sugar'] = testdf[0].str.split(';').str[3]

In [12]:
testdf

,0,fixed acidity,volatile acidity,citric acidity,residual sugar
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid""","""residual sugar"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5
...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8

In [13]:
testdf['chlorides'] = testdf[0].str.split(';').str[4]

In [14]:
testdf

,0,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid""","""residual sugar""","""chlorides"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7,0.045
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6,0.049
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9,0.05
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058
...,...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6,0.039
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8,0.047
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2,0.041
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1,0.022
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8,0.02

In [15]:
testdf['free sulfur dioxide'] = testdf[0].str.split(';').str[5]

In [16]:
testdf

,0,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7,0.045,45
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6,0.049,14
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9,0.05,30
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058,47
...,...,...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6,0.039,24
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8,0.047,57
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2,0.041,30
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1,0.022,20
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8,0.02,22

In [17]:
testdf['total sulfur dioxide'] = testdf[0].str.split(';').str[6]

In [18]:
testdf

,0,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide""","""total sulfur dioxide"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7,0.045,45,170
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6,0.049,14,132
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9,0.05,30,97
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058,47,186
...,...,...,...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6,0.039,24,92
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8,0.047,57,168
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2,0.041,30,111
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1,0.022,20,110
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8,0.02,22,98

In [19]:
testdf['density'] = testdf[0].str.split(';').str[7]

In [20]:
testdf

,0,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide""","""total sulfur dioxide""","""density"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7,0.045,45,170,1.001
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6,0.049,14,132,0.994
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9,0.05,30,97,0.9951
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058,47,186,0.9956
...,...,...,...,...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6,0.039,24,92,0.99114
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8,0.047,57,168,0.9949
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2,0.041,30,111,0.99254
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1,0.022,20,110,0.98869
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8,0.02,22,98,0.98941

In [21]:
testdf['pH'] = testdf[0].str.split(';').str[8]

In [22]:
testdf

,0,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide""","""total sulfur dioxide""","""density""","""pH"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7,0.045,45,170,1.001,3
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19
...,...,...,...,...,...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8,0.047,57,168,0.9949,3.15
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8,0.02,22,98,0.98941,3.26

In [23]:
testdf['sulphates'] = testdf[0].str.split(';').str[9]

In [24]:
testdf

,0,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide""","""total sulfur dioxide""","""density""","""pH""","""sulphates"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4
...,...,...,...,...,...,...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27,0.5
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8,0.047,57,168,0.9949,3.15,0.46
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99,0.46
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34,0.38
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8,0.02,22,98,0.98941,3.26,0.32

In [25]:
testdf['alchohol'] = testdf[0].str.split(';').str[10]

In [26]:
testdf

,0,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alchohol
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide""","""total sulfur dioxide""","""density""","""pH""","""sulphates""","""alcohol"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9.5
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,10.1
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27,0.5,11.2
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8,0.047,57,168,0.9949,3.15,0.46,9.6
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99,0.46,9.4
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34,0.38,12.8
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8,0.02,22,98,0.98941,3.26,0.32,11.8

In [27]:
testdf['quality'] = testdf[0].str.split(';').str[11]

In [28]:
testdf

,0,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alchohol,quality
0,"fixed acidity;""volatile acidity"";""citric acid""...",fixed acidity,"""volatile acidity""","""citric acid""","""residual sugar""","""chlorides""","""free sulfur dioxide""","""total sulfur dioxide""","""density""","""pH""","""sulphates""","""alcohol""","""quality"""
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9.5,6
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,10.1,6
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27,0.5,11.2,6
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8,0.047,57,168,0.9949,3.15,0.46,9.6,5
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99,0.46,9.4,6
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34,0.38,12.8,7
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8,0.02,22,98,0.98941,3.26,0.32,11.8,6

In [30]:
cleanwine = testdf.drop([0])
cleanwine

,0,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alchohol,quality
1,7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6,7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6
2,6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...,6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9.5,6
3,8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...,8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,10.1,6
4,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
5,7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4894,6.2;0.21;0.29;1.6;0.039;24;92;0.99114;3.27;0.5...,6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27,0.5,11.2,6
4895,6.6;0.32;0.36;8;0.047;57;168;0.9949;3.15;0.46;...,6.6,0.32,0.36,8,0.047,57,168,0.9949,3.15,0.46,9.6,5
4896,6.5;0.24;0.19;1.2;0.041;30;111;0.99254;2.99;0....,6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99,0.46,9.4,6
4897,5.5;0.29;0.3;1.1;0.022;20;110;0.98869;3.34;0.3...,5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34,0.38,12.8,7
4898,6;0.21;0.38;0.8;0.02;22;98;0.98941;3.26;0.32;1...,6,0.21,0.38,0.8,0.02,22,98,0.98941,3.26,0.32,11.8,6

In [36]:
cleanwine = cleanwine.drop(columns=[0])
cleanwine

,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alchohol,quality
1,7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6
2,6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9.5,6
3,8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,10.1,6
4,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
5,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4894,6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27,0.5,11.2,6
4895,6.6,0.32,0.36,8,0.047,57,168,0.9949,3.15,0.46,9.6,5
4896,6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99,0.46,9.4,6
4897,5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34,0.38,12.8,7
4898,6,0.21,0.38,0.8,0.02,22,98,0.98941,3.26,0.32,11.8,6

In [38]:
cleanwine = cleanwine.reset_index()
cleanwine

,index,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alchohol,quality
0,1,7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6
1,2,6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9.5,6
2,3,8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,10.1,6
3,4,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
4,5,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,4894,6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27,0.5,11.2,6
4894,4895,6.6,0.32,0.36,8,0.047,57,168,0.9949,3.15,0.46,9.6,5
4895,4896,6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99,0.46,9.4,6
4896,4897,5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34,0.38,12.8,7
4897,4898,6,0.21,0.38,0.8,0.02,22,98,0.98941,3.26,0.32,11.8,6

In [39]:
cleanwine = cleanwine.drop(columns=['index'])
cleanwine

,fixed acidity,volatile acidity,citric acidity,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alchohol,quality
0,7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6
1,6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9.5,6
2,8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24,92,0.99114,3.27,0.5,11.2,6
4894,6.6,0.32,0.36,8,0.047,57,168,0.9949,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30,111,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.3,1.1,0.022,20,110,0.98869,3.34,0.38,12.8,7
4897,6,0.21,0.38,0.8,0.02,22,98,0.98941,3.26,0.32,11.8,6