In [1]:
import pandas as pd

In [2]:
# reading csv files
data =  pd.read_csv('data/car.data', sep=",")
print(data)

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [3]:
data = pd.DataFrame(data)

In [4]:
data

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [15]:
df = data.rename(columns={'vhigh': 'Buying', 'vhigh.1': 'Maintenance', '2': 'Doors', '2.1': 'Persons', 'small': 'Luggage Space', 'low': 'Safety','unacc': 'Rating' })
df

     Buying Maintenance  Doors Persons Luggage Space Safety Rating
0     vhigh       vhigh      2       2         small    med  unacc
1     vhigh       vhigh      2       2         small   high  unacc
2     vhigh       vhigh      2       2           med    low  unacc
3     vhigh       vhigh      2       2           med    med  unacc
4     vhigh       vhigh      2       2           med   high  unacc
...     ...         ...    ...     ...           ...    ...    ...
1722    low         low  5more    more           med    med   good
1723    low         low  5more    more           med   high  vgood
1724    low         low  5more    more           big    low  unacc
1725    low         low  5more    more           big    med   good
1726    low         low  5more    more           big   high  vgood

[1727 rows x 7 columns]

In [ ]:
#& (df['Luggage Space'].str.startswith('m')) & (df['Maintenance'] == "med") & (df['Doors'] == 2) & (df['Safety'] == "low"),]

In [21]:
best = df.loc[(df['Buying'] == "med")]
best

     Buying Maintenance  Doors Persons Luggage Space Safety Rating
863     med       vhigh      2       2         small    low  unacc
864     med       vhigh      2       2         small    med  unacc
865     med       vhigh      2       2         small   high  unacc
866     med       vhigh      2       2           med    low  unacc
867     med       vhigh      2       2           med    med  unacc
...     ...         ...    ...     ...           ...    ...    ...
1290    med         low  5more    more           med    med   good
1291    med         low  5more    more           med   high  vgood
1292    med         low  5more    more           big    low  unacc
1293    med         low  5more    more           big    med   good
1294    med         low  5more    more           big   high  vgood

[432 rows x 7 columns]

In [24]:
best2 = df.loc[(df['Buying'] == "med") & (df['Maintenance'] == "med")]
best2

     Buying Maintenance  Doors Persons Luggage Space Safety Rating
1079    med         med      2       2         small    low  unacc
1080    med         med      2       2         small    med  unacc
1081    med         med      2       2         small   high  unacc
1082    med         med      2       2           med    low  unacc
1083    med         med      2       2           med    med  unacc
...     ...         ...    ...     ...           ...    ...    ...
1182    med         med  5more    more           med    med    acc
1183    med         med  5more    more           med   high  vgood
1184    med         med  5more    more           big    low  unacc
1185    med         med  5more    more           big    med    acc
1186    med         med  5more    more           big   high  vgood

[108 rows x 7 columns]