In [1]:
import pandas as pd 
import matplotlib as plt
import csv

In [6]:
data = pd.read_csv('data/new.data', sep=' ')

In [8]:
data2 = pd.read_fwf('data/long-beach-va.data', sep=' ')

In [9]:
data2

                1 0 63 1 1 1 1
0         -9 4 140 0 260 0 0 0
1           0 -9 0 1 1 22 85 0
2           0 1 0 0 5 4.5 -9 5
3     112 62 160 90 140 80 1 0
4         3 2 20 19 -9 -9 0 -9
...                        ...
1994    0 -9 21 17 -9 -9 -9 -9
1995    -9 -9 -9 -9 -9 -9 -9 6
1996         20 83 1 1 1 1 1 1
1997           1 1 1 2 1 1 1 1
1998           1 1 -9 -9. name

[1999 rows x 1 columns]

In [7]:
data

         1 15943882    63    1.1    -9    -9.1  -9.2
-27.0    1      145   1.0  233.0  -9.0    50.0  20.0
 1.0     0        1   2.0    2.0   3.0  1981.0   0.0
 0.0     0        0   0.0    1.0  10.5     6.0  13.0
 150.0  60      190  90.0  145.0  85.0     0.0   0.0
 2.3     3       -9  -9.0    0.0  -9.0    -9.0  -9.0
...     ..      ...   ...    ...   ...     ...   ...
-9.0    -9        0  -1.0   -1.0  -1.0    -1.0  -1.0
-1.0    -1       -1  -1.0   -1.0   1.0     1.0   1.0
 1.0     1       -9  -9.0   -9.0  -9.0    -9.0  -9.0
-9.0    -9       -9  -9.0   -9.0  -9.0    -9.0  -9.0
-9.0    -9   Takacs   NaN    NaN   NaN     NaN   NaN

[18491 rows x 7 columns]

In [ ]:
cdf = pd.DataFrame('')
cleveland = df

In [ ]:
db